h1{
    padding: 1rem 1rem 1rem 11rem;
    color: #0000ff;
    background-color: #FFFFFF;
    margin-right: 25rem;
    margin-left: 20rem;
}
body{
    background-color: #00fff0;
}
div{
   color: rgb(94, 255, 0);
   padding: 1rem 1rem 1rem 4.5rem;
   background-color: #FF4500;
   margin-left: 31rem;
   margin-right: 31rem;
}

button{
    color: green;
    background-color:#FFFFFF;
    border-color: antiquewhite;
}